* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
body {
      font-size: 16px;
      font-family: 'Lato', sans-serif;
      
}



/************ Constants for whole web site */
       h5 {
            font-size: 26px;
      }
      .display-4 {
            font-size: 64px;
      }
     
h1, h2, h4 {
      font-weight: 300;
      line-height: 50px;
      font-size: 32px;
}
h5 {
      font-weight: 300;
}
hr {      
      width: 60px;
      margin: 3% 48%;
}
.yellow-hr {
      border: 2px solid #ffcc00;
}
.white-hr {
      border: 2px solid white;

}
.disabled-hr {
      border: 1px solid #c4c3c3;
}
p {
      line-height: 190%;
      font-size: 1rem;
      font-weight: 500;
}
i {   
     color: #ffcc00;
}
/* ****** Buttons ****** */
.btn-think {
      border: 1px solid #ffcc00;
      font-size: 100%;
      font-weight: 400;
}
.btn-think-active {
      background: #ffcc00; 
      
} 
.btn-think-inactive {
      color: #ffcc00;
}
.btn-think-inactive:hover {
      background: #ffcc00; 
      color: white;

}

/* ****************   NAV BAR ********************* */

.navbar-think {
      padding: .5% 7%;
      border-bottom: 1px solid rgba(216, 212, 212, 0.788);
}
.nav-item-think {
      font-weight: 700;
}

.navbar-brand-think {
      width: 30%;  
}
.navbar-brand-think img{
      width: 40%;
}

/* ************   Footer    ************* */
.footer {
      height: 20vh;
      padding: 2% 7%;
}
.footer .footer-links {
      margin-bottom: 2%;
      padding-bottom: 2%;
      border-bottom: 1px solid #c0bfbf;
}
.footer-think .footer-links a {
      text-decoration: none;
      color: black;
      font-weight: 300;
      margin-right:3%;
      font-weight: 500;
      
}
.footer-think img {
      width: 17%;
      height: 3%;
      margin-right: 4%;
}
.footer-think .footer-age-rating p {
      padding-top: 10%;
}


/* *****************   Front Page  ***************** */


.main-page-banner {
      height: 100vh;

      background-image: linear-gradient(rgba(141,95,211,0),
                                   rgba(141,95,211,0)),
                                  url("https://s3.amazonaws.com/thinkific-import/116598/b9UlnDSmGR4JjR7redMw_purple-gradient-1.png");
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      
  }
  .heading-action {
      position: absolute;
      margin-top: 20%;
      font-weight: 100;
}

/* showcase */
.showcase-companies {
      margin-top: 5%;
}
.showcase-images {
      margin: 7% 4%;
      
}
.showcase-images img {
      display: block;
      width: 15%;
      height: 12%;
      margin: 2.3%;
}
/* icon container */
.icon-container {
      padding: 5% 6%;
      background: #f7f7f7;
}
.icon-showcase {
      margin-top: 5%;
}
.icon-showcase .cards {
      background: white;
      padding:2% 3% 3% 3%;
      height: 100%;
      border: 1px solid rgba(51, 51, 51, 0.171);
      line-height: 190%;
      font-size: 120%;

}
.icon-showcase .cards h6 {
      font-size: 120%;
      margin : 6% 25%;
}
.icon-showcase .cards i {
     padding-bottom: 10%;
     font-size: 250%;
}



/*  ***************  COURSES  ***************** */

.courses-header {
      background: linear-gradient(rgba(0,0,0,0.27),
                                  rgba(0,0,0,0.27)),
                                  url("https://s3.amazonaws.com/thinkific-import/116598/an6Kh7BRoC0TTcIt5AzD_sunset.jpg");
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 75vh;
      margin-top: 4.38%;

}
.courses-header h1 {
      font-weight: 100;
}
.courses-header h5 {
     line-height: 190%;  
}
.course-content {
      padding: 0% 7%;
}
.course-content .row {
      border-bottom: 1px solid rgba(61, 61, 61, 0.253);
      padding: 6%  0%;
}
.course-content .course-img img {
      
      width: 98%;
      height: 80%;
}

.action-banner {
      background: linear-gradient(rgba(0,0,0,0.78), 
                                  rgba(0,0,0,0.78)),
                                  url("https://s3.amazonaws.com/thinkific-import/116598/y3LrcqQOT56etOaVep7H_calendar.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 83vh;
    padding: 7% 10%;
}

/* **************  Reviews ************** */

.review-banner {
      padding: 5% 18%;
      background: linear-gradient(rgba(0,0,0,0.27),
                                  rgba(0,0,0,0.27)),
                                  url("https://s3.amazonaws.com/thinkific-import/116598/an6Kh7BRoC0TTcIt5AzD_sunset.jpg");
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 60vh;
      margin-top: 4.39%;
}
.review-action-banner {
      background: linear-gradient(rgba(64,7,114,0.37),
                                  rgba(64,7,114,0.37)),
                                  url("https://s3.amazonaws.com/thinkific-import/116598/Wjj3DG9NSQ21qRWtSiwe_desert-woman.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
    padding: 5% 5%;
    margin-top: 15%;

}
/* *************  Sign Up  ************** */
.sign-up-banner {
      background: linear-gradient(rgba(50,3,92,0.7),
                                 rgba(50,3,92,0.7)),
                                 url("https://s3.amazonaws.com/thinkific-import/116598/z8UG3YWSSAqmCRMI69Sg_asphalt-blue-clouds-1133505.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 80vh;
    margin-top: 4.39%;
    
}


/* *************  Sign In  ************** */

/* .welcome-sign-in {
      padding: 10% 30%;
} */
.forgot-password a {
      color: #ffcc00;
}
.another-sign-in-option i {
      font-size: 200%;
      padding-right: 40%;
      
}
.fa-linkedin-in {
      color: rgb(1, 76, 105);

}
.fa-google-plus-g {
      color: red;
}
.fa-facebook-f {
      color: rgb(55, 0, 255);
}
.another-sign-in-option a {
      color: rgba(0, 0, 0, 0.836);
      text-decoration: underline;
}

@media(max-width : 900px){
      body {
            font-size: 15px;
      }
      hr {      

            margin: 7% 38%;
      }

      .courses-header {
            margin-top: 15%;
            padding:0% 9%;
      }
      .course-content .course-img img {
            margin-top: 10%;
      }
      /* .review-banner, .sign-in-banner {
            margin-top: 15%;
      } */
      .sign-up-banner {
            padding-top: 15%;
      }
      .navbar-brand {
            width: 50%;  
      }
}
@media(min-width : 900px){
      body {
            font-size: 16px;
      }
      .heading-action {
            margin: 14% 18%; 
      }
      .courses-header {
            padding: 7% 20%;
      }
      .course-content .left {
            margin-left: 20%;
      }
      .course-content .right {
            margin-right: 20%;  
      }
      .student-review {
            padding: 5% 20%;
        }
        .sign-up-buttons {
            margin: 3% 25%; 
      }
      .faqs-section {
            background: #f7f7f7;
            padding: 5% 27%;
      }
      .faqs-section {
            background: #f7f7f7;
            padding: 5% 27%;
      }
      .welcome-sign-in {
            padding: 10% 30%;
      } 
      .sign-up-banner {
            padding: 8% 20%;
      }
      
      
}